@font-face {
    font-family: San Francisco Pro Display;
    src: url(./SanFranciscoProDisplay/SF-Pro-Display-Medium.otf);
  }

#body{
    font-family:San Francisco Pro Display ;
}
.profile-setion{
    font-family:San Francisco Pro Display ;
  }
  .profile-header {
      /* height: 80px; */
      padding: 15px 32px 15px 32px;
      display: flex;
      align-items: center;
      border-bottom: 3px solid rgba(223, 223, 225, 1);
  }
  .profile-sec-nav ul{
     list-style: none;
     padding: 0;
     display: flex;
     color: #fff;
     gap: 48px;
     justify-content: center;
     margin: 5px 0px;
     font-weight: 500;
  }
  
  .profile-sec-nav ul li a{
      text-decoration: none;
      color: #000000;
  }
  .profile-login-image{
      text-align: right;
  }
  .profile-login-image img {
      border-radius: 40px;
      border: 2px solid rgba(249, 192, 52, 1);
  }

  .profile-main-content .image-div{
          width: 450.33px;
          height: auto;                
  }
  .profile-main-content .image-div img{
    border-radius: 10.8px;
  }
  .profile-details {
    display: flex;
    /* gap: 20px; */
    justify-content: space-between;
}
.detail-1 span {
    display: flex;
    gap: 15px;
}
  .detail-1 span h5{
    font-size: 18px;
    font-weight: 700;
    line-height: 21.48px;
  }
  .subscribe-button{
    border: none;
    border-radius: 10px;
    background: #DFDFE1;
    font-size: 14px;
    font-weight: 500;
    padding: 6px 8px;
  }
  .follow-button {
    background: #F9C034;
    border-radius: 10px;
    border: navajowhite;
    padding: 6px 8px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 500;
}
.custom-div {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    font-size: 12px;
}
  .custom-div p{
    margin: 0;
  }
  .custom-div span{
    display: block;
  }
  .age-sec{
    color: #fff;
    border-radius: 20px;
    background: linear-gradient( rgba(217, 35, 72, 1),
    rgba(255, 99, 129, 1));
    padding: 0px 13px;
    font-weight: 500;
  }
  .age-sec img{
    padding: 0px 2px 2px 0px;
  }
  .level-sec{
    color: #fff;
    border-radius: 20px;
    background:linear-gradient(rgba(251, 70, 27, 1),
    rgba(254, 183, 73, 1));
    padding: 0px 13px;
    font-weight: 500;
  }
  .reach {
    border: 8px solid #DFDFE1;
    border-radius: 10px;
    margin-top: 10px;
}
  .reach ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0;
}
  .reach ul li{
    text-align: center;
  }
  .reach ul li h5 {
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 800;
}
.reach ul li p {
    font-size: 13px;
    font-weight: 400;
    margin: 0;
    line-height: 16.12px;
}
  .bordr {
    border-right: 1.36px solid #F9C034;
    padding-right: 60px;
    height: 45px;
}
.google-store-button {
    border: none;
    background: none;
    display: block;
    padding: 0;
    margin-bottom: 20px;
}
.apple-store-button{
    border: none;
    background: none;
    padding: 0;
}
.download-app {
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 11px 22px -3px lightgray;
    padding: 24px 24px;
    border-radius: 10px;
    margin-left: 40px;
}
.dapct h4{
    font-weight: 600;
    font-size: 18px;
    line-height: 15.71px;
}
.dapct p {
    font-size: 13.47px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    line-height: 15.71px;
    width: 258.16px;
    margin-bottom: 25px;
}
.qr-code {
    background: #EFEFEF;
    padding: 23px 23px;
}
/* .qr-code img{
    border-top: 5px solid blue;
} */
.qr-code hr {
    border: 0;
    border-top: var(--bs-border-width) solid;
    --bs-border-width: 10px;
    margin: 0px 0px 0px -6px;
    width: 107%;
    color: #1145FF;
    border-radius: 20px;
    opacity: unset;
}
.bio-sec {
    box-shadow: 1px 11px 22px -3px lightgray;
    padding: 24px 24px;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 30px;
}
.bio-sec ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    gap: 20px;
    padding: 0;
}
.bio-sec ul li{
   display: flex;
    align-items: center;
}
.bio-sec ul li img{
    width: auto;
    height: auto;
}
.bio-sec ul li a {
    background: #FCF3F6;
    border: 1px solid #f6be33;
    border-radius: 42px;
    padding: 10.86px;
    width: 50px;
    text-align: center;
}
.bio-sec p {
    font-size: 14px;
    font-weight: 400;
    width: 65%;
    line-height: 16.71px;
}
.bio-sec h4{
    font-size:20px;
    font-weight:700;
    line-height:23.87px ;
}
.video-content h4{
    border-bottom: 2.4px solid #F9C034;
}
.profile-video{
    position: relative;
}
.pv-relative {
    position: absolute;
    bottom: 10px;
    left: 0px;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    padding: 0px 7px;
}
.pv-relative a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    gap: 2px;
}
.pv-relative a:hover{

}
.pv-relative a img{
    width: 15px;
    height: 15px;
    filter: invert();
}
.profile-video img{
   border-radius: 10px;
   width: 100%;
}
/* /* Menu styling  */


/* .mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
} */

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #04AA6D;
  color: white;
}
.profile-login-logout {
    position: absolute;
    min-width: 213px;
    min-height: 209px;
    z-index: 10;
    background-color: #fff;
    top: 85px;
    right: 20px;
    border-radius: 10px;
    box-shadow: 1px 3px 14px -1px lightgrey;
    display: none;
}
.pop-1 {
    display: flex;
    gap: 20px;
    padding: 6px 10px;
}
.make-pro {
    border-radius: 60px;
    width: 90px;
    height: 90px;
    border: 3px solid #f6be33;
}
.pop-2{
  text-align: center;
}
.pop-2 h5{
  font-size: 16px;
}
.pop-2 p{
    font-size: 12px;
}
.pop-3 {
    min-height: 44px;
    background: lightgrey;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.pop-3 ul {
    margin-bottom: 0px;
    padding: 0;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    padding-top: 8px;
}
.pop-3 ul li {
    display: flex;
    align-items: center;
    gap: 10px;
}
.pop-3 ul li a{
    text-decoration: none;
    color: #000000;
}


@media (max-width:320px){
    .bordr {
        padding-right: 20px;
    }
    .google-store-button {
        text-align: justify;
        margin-bottom: 8px;
    }
    .google-store-button img{
      width: 70%;    
    }
    .apple-store-button{
        text-align: justify;
    }
    .apple-store-button img{
        width: 70%;
    }
    .dapct h4 {
        font-size: 12px;
        line-height: 10.71px;
        
    }
    .qr-code img {
        width: 100px;
    }
    .qr-code {
        padding: 25px 15px;
    }
    .bio-sec ul li a {
        padding: 8.86px;
        width: 45px;
        
    }
    .bio-sec ul {
        gap: 22px;
    }
    .bio-sec h4 {
        font-size: 16px;
        line-height: 8.87px;
    }
}

@media (max-width:767px) and (min-width:320px) {

    .profile-sec-nav{
        display: none;
    }
    .profile-main-content .image-div img {
        border-radius: 10.8px;
        width: 100%;
    }
        .profile-main-content .image-div {
            width: 450.33px;
            height: auto;
            text-align: center;
        }
        .detail-1 span {
            display: flex;
            gap: 20px;
        }
        .detail-1 span h5 {
            font-size: 18px;
        }
        .custom-div span{
            display: block;
        }
        .download-app {
            display: flex;
            justify-content: space-between;
            box-shadow: 1px 11px 22px -3px lightgray;
            padding: 24px 24px;
            border-radius: 10px;
            margin-left: 0px;
            margin-top: 30px;
        }
        .qr-code {
            background: #EFEFEF;
            padding: 30px 15px;
        }
        .qr-code img{
           width: 110px;
        }
        .dapct p {
            font-size: 13.47px;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.5);
            line-height: 15.71px;
            width: auto;
            margin-bottom: 10px;
        }
        .bio-sec {
            box-shadow: 1px 11px 22px -3px lightgray;
            padding: 15px 25px;
            margin-left: 0px;
            margin-top: 30px;
        }
        .bio-sec p {
            font-size: 12px;
            font-weight: 400;
            width: 100%;
            line-height: 14.71px;
        }
        .profile-video {
            position: relative;
            width: 90%;
            margin: 0 auto;
        }
        .profile-details {
            display: flex;
            gap: 20px;
            flex-direction: column;
            width: 100%;
        }
        .age-sec img {
            padding: 0px 2px 2px 0px;
            width: 13px;
        }
        .follow-button {
            padding: 8px 8px;
            font-size: 16px;
        }
        .subscribe-button {
            font-size: 16px;
            padding: 8px 8px;
        }
        .reach {
            width: 95%;
            margin: 15px auto;
        }
        .reach ul {
            padding: 8px;
        }
        .bordr {
            padding-right: 40px;
        }
    }

    @media (max-width:991px) and (min-width:768px){
        .profile-main-content .image-div img {
            width: 100%;
        }
        .profile-main-logo {
            margin-top: 2px;
        }
        .profile-main-logo img{
            width: 100%;
        }
        .profile-sec-nav ul {
            gap: 20px;
            justify-content: flex-end;
            margin: 8px 0px;
            font-size: 14px;
        }
        .profile-header {
            padding: 15px 0px 15px 0px;
            align-items: center;
        }
        .download-app {
            margin-left: 20px;
        }
        .dapct p {
            font-size: 13.47px;
            line-height: 14.71px;
            width: 200px;
            margin-bottom: 20px;
        }
        .dapct h4 {
            font-size: 14px;
        }
        .qr-code {
            padding: 20px 20px;
            height: 140px;
        }
        .qr-code img{
            width: 100%;
        }
        .qr-code hr {
            margin: 0px 0px 0px -6px;
            width: 112%;
        }
        .bio-sec {
            margin-left: 20px;
            margin-top: 30px;
        }
        .profile-details {
            display: flex;
            gap: 20px;
            flex-direction: column;
        }
        .reach {
            margin-top: 20px;
        }
        .reach ul {
            padding: 8px 0px;
            margin: 0;
        }
        .bordr {
            padding-right: 20px;
            height: 45px;
        }
        .bio-sec h4 {
            font-size: 14px;
            line-height: 23.87px;
            margin-bottom: 2px;
        }
        .bio-sec p {
            font-size: 12px;
            font-weight: 400;
            width: 100%;
            line-height: 16.71px;
            margin-bottom: 5px;
        }
        .detail-2 {
            display: flex;
            gap: 5px;
        }
        .subscribe-button {
            font-size: 16px;
            padding: 8px 8px;
        }
        .follow-button {
            padding: 8px 8px;
            font-size: 16px;
        }
        .video-content h4 {
            padding-bottom: 5px;
            
        }
        .detail-1 span {
            gap: 20px;
        }
    }

    @media (max-width:1024px) and (min-width:991px) {
        .profile-header {
            padding: 15px 0px 15px 0px;
        }
        .profile-sec-nav ul {
            gap: 40px;
            justify-content: flex-end;
        }
        .profile-main-content .image-div img {
            width: 100%;
        }
        /* .detail-1 span h5 {
            font-size: 14px;
            line-height: 15.48px;
        } */
        .profile-details {
            display: flex;
            gap: 15px;
            /* justify-content: space-between; */
            flex-direction: column;
        }
        .custom-div {
            gap: 10px;
            margin-top: 10px;
            font-size: 14px;
        }
        .detail-1 span {
            gap: 35px;
        }
        .subscribe-button{
           font-size: 16px;   
        }
        .follow-button{
            font-size: 16px;
        }
        .detail-2 {
            display: flex;
            gap: 5px;
        }
        .dapct p {
            font-size: 14.47px;
            line-height: 15.71px;
            width: 230.16px;
        }
        .reach {
            margin-top: 15px;
        }
    }
    @media (max-width:1920px) and (min-width:1440px){
        .profile-main-content .image-div {
            width: -webkit-fill-available;
        }
        .profile-main-content .image-div img {
            width: 100%;
            
        }
        .profile-main-logo img{
            width: 100%;
        }
        .dapct h4 {
            font-weight: 600;
            font-size: 22px;
            margin-bottom: 10px;
        }
        .dapct p {
            font-size: 18.47px;
            line-height: 20.71px;
            width: 80%;
            margin-bottom: 25px;
        }
        .bio-sec h4 {
            font-size: 22px;
            line-height: 23.87px;
        }
        .bio-sec p {
            font-size: 18px;
            width: 80%;
            line-height: 20.71px;
        }
        .bio-sec ul li a {
            padding: 15.86px;
            width: 60px;
        }
        .bio-sec h4 {
            font-size: 22px;
            line-height: 23.87px;
            margin-bottom: 10px;
        }
        .detail-1 span h5 {
            font-size: 22px;
        }
        .subscribe-button {
            font-size: 16px;
            padding: 10px 10px;
        }
        .follow-button {
            padding: 10px 10px;
            font-size: 16px;
            margin-left: 5px;
        }
        .custom-div {
            gap: 14px;
            margin-top: 15px;
            font-size: 15px;
        }
        .bordr {
            padding-right: 80px;
            height: 45px;
        }
        .reach ul {
            padding: 10px 0px;
        }
        .reach ul li h5 {
            margin-bottom: 5px;
            font-size: 22px;
            line-height: 25px;
            
        }
        .download-app {
            padding: 34px 34px;
        }
        .bio-sec{
            padding: 34px 34px;
        }
        
        
    }
    @media (min-width:2560px) {
        .profile-main-content .image-div {
            width: -webkit-fill-available;
        }
        .profile-main-content .image-div img {
            width: 100%;
            
        }
        .profile-main-logo img{
            width: 100%;
        }
    }
