@font-face {
    font-family: San Francisco Pro Display;
    src: url(../SanFranciscoProDisplay/SF-Pro-Display-Regular.otf);
  }

#body{
    font-family:San Francisco Pro Display;
}
.single-live-section{
    font-family:San Francisco Pro Display;
}
.wm-update-section{
    border: 4px solid #DFDFE1;
    border-radius: 10px;
    height: 550px;
    padding: 10px;

}
.wm-update-section .nav-pills .nav-link.active:focus-visible{
    outline: none!important;
}
.wm-update-section .nav-pills .nav-link:focus-visible {
  outline: none!important;
}
.wm-update-section .nav-pills .nav-link {
    border: 1px solid lightgray;
    outline: none;
    border-radius: 30px !important;
    padding: 7px 17px !important;
    color: #000;
    font-size: 14px;
}
.wm-update-section .nav-pills .nav-link.active {
    background: #F9C034 !important;
    color: #000 !important;
    border-radius: 30px !important;
    border: none !important;
    outline: none !important;
    padding: 8px 18px!important;
    font-size: 14px;
}
.wm-update-section .nav-pills .nav-link.active:focus{
    outline: none!important;
}
.comment-section{
    border: 4px solid #DFDFE1;
    border-radius: 10px;
    height: 550px;
    padding: 10px;
    position: relative;
}
.single-video-content{
    width: 100%;
    height: 408px;
    position: relative;
}
.pf-img img{
    border-radius: 30px;
    border: 2px solid #f6be33;
}
.weekly-update {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.wup-2 p{
  font-size: 14px;
  margin-bottom: 1px;
}
.wup-2 img{
    margin: 0px 4px 3px 6px;
}
.wup-2 p span{
    color: #F9C034;
    font-size: 12px;

}
.wm-update-section ul#pills-tab {
    display: flex;
    justify-content: space-around;
}
.com-sec {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 8px;
}
.com-sec .cmnt{
    border-radius: 30px;
    width: 22px;
    height: 22px;
}
.com-sec p{
    margin: 0;
    color: #FF5C00;
    font-size: 12px;
}
.com-sec span {
    background: linear-gradient(#982CE5 100%, #7C19CE 100%);
    margin: 0;
    font-size: 10px;
    border-radius: 30px;
    padding: 2px 6px;
    color: #fff;
}
.com-sec span img {
    margin-right: 3px;
}
.comments p{
    font-size: 12px;
}
.wrap-up{

}
.send-coment {
    display: flex;
    position: absolute;
    bottom: 10px;
    gap: 4px;
}
.send-coment input {
    width: 68%;
    border: 2px solid #DFDFE1;
    border-radius: 20px;
    outline: none;
    padding: 0px 10px;
}
.send-coment input::placeholder{
    font-size: 14px;
    text-align: center;
    color: #828282;

}
.send-button {
    color: #000;
    background: #F9C034;
    border-radius: 20px;
    font-size: 14px;
    border: none;
    padding: 0px 8px;

}
.video-live-sec {
    width: 100%;
    height: 408px;
    /* background: linear-gradient(red, black); */
    background-image: url(../img/video-back.png);
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.video-live-sec video {
    margin: 0 auto;
    width: 40%;
    height: 408px;
    display: flex;
}
.video-live-detail {
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;
}
.vl-detail-right {
    display: flex;
    gap: 15px;
}
.vl-child-1 img{
    border-radius: 30px;
    border: 1px solid #F9C034;
}
.vl-detail-left {
    display: flex;
    gap: 15px;
}
.vl-child-2 p:nth-child(1) {
    font-size: 16px;
    margin-bottom: 5px;
    text-transform: uppercase;
}
  .vl-child-2 p:nth-child(1) img {
    margin-left: 15px;
}
.vl-child-2 p:nth-child(2){
  font-size: 14px;
  margin-bottom: 5px;

}
.vl-child-2 p:nth-child(2) img{
    margin-left: 5px;
  }
.follow-button {
    background: #F9C034;
    border-radius: 10px;
    border: navajowhite;
    /* padding: 6px 8px; */
    margin-left: 10px;
    font-size: 14px;
    font-weight: 500;
    width: 59px;
    height: 34px;

}
.subscribe-button{
    border: none;
    border-radius: 10px;
    background: #DFDFE1;
    font-size: 14px;
    font-weight: 500;
    width: 99.3px;
    height: 35px;}

    .age-sec {
        color: #fff;
        border-radius: 20px;
        background: linear-gradient(rgba(217, 35, 72, 1), rgba(255, 99, 129, 1));
        padding: 3px 8px;
        font-weight: 500;
        font-size: 12px;
    }
      .level-sec{
        color: #fff;
        border-radius: 20px;
        background:linear-gradient(rgba(251, 70, 27, 1),
        rgba(254, 183, 73, 1));
        padding: 3px 8px;
        font-size: 12px;
        font-weight: 500;
      }
      .choose-gifts{
        border-radius: 15px;
        border: 5px solid #DFDFE1;
        text-align: center;
      }
      .chg-heading{
        margin-top: 1rem;
      }

      /*  */
      .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    .swiper-pagination {
        position: absolute !important;
        bottom: -5px !important;
    }
    .choose-gifts .swiper {
        padding: 20px 10px;
    }

      .swiper-slide img {
        /* display: block; */
        width: auto;
        /* object-fit: cover; */
      }
      .gift-slide-sec{
        text-align: center;
        background: #DFDFE1;
        border: 1px solid #cececf;
        border-radius: 5px;
      }
      .gift-slide-sec img{
        padding: 4px 0px;
      }
      .gift-slide-sec p{
        margin: 0;
        font-size: 12px;
      }
      .gift-slide-sec span{
        font-size: 10px;
      }
      .gift-slide-sec span img {
        padding: 0;
        margin-right: 3px;
    }
    .balance {
        display: flex;
        justify-content: space-between;
        padding: 10px 10px;
        align-items: center;
    }
    .blnce-1 {
        display: flex;
        align-items: center;
        gap: 8px;
    }
    .blnce-1 img{
        margin-bottom: 3px;
    }
    .blnce-1 p{
        margin: 0;
    }
    .blnce-2 ul {
        background: #323232;
        padding: 10px;
        list-style-type: none;
        display: flex;
        gap: 10px;
        margin-bottom: 0;
        border-radius: 30px;
    }
    .blnce-2 ul li {
        border-radius: 20px;
        border: 1px solid #46464c;
        display: inline-flex;
        color: #fff;
        padding: 2px 10px;
        align-items: center;

        font-weight: 500;
    }
    .blnce-2 ul li a{
        text-decoration: none;
        color: #fff;
    }
    .get-coins-button {
        width: 90px;
        height: 35px;
        border-radius: 30px;
        border: 2px solid #d2d2d4;
        background: none;
        font-size: 16px;
    }
    .small-screen {
        position: absolute;
        bottom: 6px;
        right: 6px;
        width: 150px;
        height: 150px;
        background: #46464c;
        border-radius: 6px;
    }
    @media (max-width:1024px) and (min-width:768px){
        .send-coment {
            gap: 10px;
        }
        .weekly-update {
            justify-content: left;
            gap: 15px;

        }
        .vl-detail-right {
            gap: 7px;
        }
        .vl-detail-left {
            gap: 7px;
        }
        .follow-button {
            margin-left: 0px;
        }
        .balance {
            flex-direction: column;
            gap: 10px;
        }
        .video-live-sec video {
            width: 50%;
        }
    }



      /*  */
      /* .age-sec img{
        padding: 0px 2px 2px 0px;
      } */
